#main-page {
  color: green;
  text-decoration-line: none;
}

/* #sidebar { */
/*   width: 60px; */
/*   height: 60px; */
/*   background-color: darkkhaki; */
/*   padding: 10px; */
/*   border-radius: 5px; */
/*   transition: 0.45s; */
/* } */
/**/
/* #sidebar-button { */
/*   background-color: green; */
/*   color: white; */
/*   padding: 6px; */
/*   border: 1px solid darkgreen; */
/*   border-radius: 5px; */
/* } */
/**/
/* #sidebar:focus { */
/*   width: 200px; */
/*   transition: opacity width 0.45s; */
/* } */
/**/
/* #sidebar > a { */
/*   white-space: nowrap; */
/*   display: block; */
/*   opacity: 0; */
/*   overflow: hidden; */
/*   transition: 0.45s; */
/* } */
/**/
/* #sidebar:focus > a { */
/*   display: block; */
/*   white-space: nowrap;ID */
/*   opacity: 1; */
/*   color: white; */
/*   transition: 0.45s; */
/* } */

#sidebar {
  background-color: green;
  padding: 2%;
}
#sidebar > a {margin: 10px; color: white;}

#recommend-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 1%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.product {
  padding: 2%;
  margin: 1%;
  border: 1px grey solid;
  border-radius: 5px;
  transition: 0.3s
}

.product:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s
}

.view-button {
  text-decoration-line: none;
  background-color: lightblue;
  padding: 5px;
  transition: 0.3s;
  border: 1px solid blue;
  border-radius: 3px;
  color: white;
}

.view-button:hover {
  box-shadow: 0px 0px 0px 5px lightblue;
}
